<aside class='sidebar'>
    <div class="sidebar__header">
        <img src="assets/images/sidebar_header.jpg" alt="">
    </div>
    
    <!-- sidebar__content -->
    <div class="sidebar__content">
        <!-- profile -->
        <div class="profile">
            <img class="profile__avatar" src="assets/images/100.png" alt="">
            <div class="profile__name">
                postcoder
            </div>
            <div class="profile__prof">
                Руководитель ОП Телесервис плюс
            </div>
            <ul class="social">
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="assets/images/instagram.svg">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="assets/images/vk.svg">
                    </a>
                </li>
            </ul>
            <div class="profile__text">
                <p>
                    В качестве хобби занимаюсь написанием различных утилит на Python. Так же изучаю веб разработку. Написание проектов для рабочих нужд на Django.
                </p>
            </div>
        </div> <!-- /.profile -->
    </div> <!-- /.sidebar__content -->
    
    <div class="sidebar__footer">
        <a class="btn btn--red" href="">Мои работы</a>
        <button class="btn btn--blue" type="button">
            Написать мне
        </button>
    </div>

</aside>